body{overflow: hidden;}
.keyword_sq_list li a{color:#535353}
.keyword_sq_list li a.active{}
.keyword_xzq_list li a{color:#535353}
.keyword_pop{left:0;margin-left:100px;top:72px;z-index:900}
.zb_pop{left:0;margin-left:100px;top:72px;z-index:900}
.keyword_pop_two{left:0;margin-left:100px;top:72px;z-index:900}

.search_header {background: #f9f8f6; border-bottom: 1px solid #dedede;}
.list_time{ padding-top:15px; font-size: 14px; padding-bottom:15px ; float:left;}
.list_input{ float: left;}
.top_logo {float: left; width: 186px;height: 38px;overflow: hidden;margin: 17px 48px 9px 20px;}
/*.top_logo img{margin:0}*/
.date_box{top:74px;margin-left:336px;left:0;}
.list_input input{background:#fff;border:1px solid #d4d4d4;border-radius:5px;-webkit-border-radius:5px;width:56px; height: 20px; padding:11px 12px; outline: none;
color:#535353; font-size: 14px; line-height:20px; overflow: hidden;}
.list_input input.city_line_on{ border-color:#BB9861; background:#FCF5EA;}
.list_choose{ float:left;width:379px;height:42px;background:#fff;border:1px solid #d4d4d4;border-radius:5px;-webkit-border-radius:5px;margin: 0 10px; padding-left:29px;color: #979797; }
.list_choose input{ float:left;}
.list_choose input.date_input{ width:87px; border:none; background:none; outline: none; height: 20px; line-height: 20px; padding: 11px 0; color: #535353;}
.list_choose input.date_input_txt{ width:32px; border:none; background:none;outline:none;height: 20px; line-height: 20px; padding: 11px 0;color: #979797; }
.list_choose span{ float: left; line-height: 42px; }
.list_choose code{ float: left;width: 16px; height: 1px; margin:21px 20px 0 20px; background:url(time_line.png)/*tpa=http://www.bthhotels.com/Content/image/web/time_line.png*/ left center no-repeat; }
.list_choose.home_order_form_inputon{border:1px solid #BB9861; background:#FCF5EA;}
.list_search{ float: left;}
.list_search input{background:#fff;border:1px solid #d4d4d4;border-radius:5px;-webkit-border-radius:5px; width: 181px; height:20px; line-height:20px;padding: 11px 11px; outline: none; font-size: 14px; color: #979797;}
.list_search input.search_line_on{border-color:#BB9861; background:#FCF5EA;}
.list_cx_button{ float: left; margin-left:10px;}

.list_cx_button input{ background:#c0191f;border-radius:5px;-webkit-border-radius:5px;width:56px;height:42px;border:none; outline: medium none;
font-size:16px;color:#fff; text-align:center; line-height: 42px; cursor:pointer;}
.list_cx_button input.cxon{ background:#cd474c;}
.list_time .list_filter_button{display:none;}

.list_wz_box{ margin-top:20px;}
.list_metro_box{font-size: 14px; color:#535353; }
.list_metro_top{border-bottom:1px solid #d4d4d4; padding-bottom:10px; margin-right:17px;  }
.list_metro_top a{ float: left; width:auto;padding-right:30px; cursor: pointer;}
.list_metro_top a.metron{ color:#c0191f;}
.list_metro_content{ padding-top:10px; }
.list_metro_content a{ float:left;padding: 5px 10px; margin-right:30px;  border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px; background: #fff; }
.list_metro_fix{ display:none;}
.list_metro_fix a{ cursor:pointer;}
.list_metro_fix a.lineon{background: #c0191f;color:#fff;}
.list_wz_fix{background:#fff;border-radius:5px;-webkit-border-radius:5px; margin-bottom:16px; font-size: 14px; color:#535353;padding:0px 0 0px 17px;}
.list_wz_box dl{ overflow:hidden; zoom:1; background:url(home)/*tpa=http://www.bthhotels.com/Content/image/common/list_sxbg.gif*/ left top repeat;}
.list_wz_box dl dd{ display:none;}
.list_wz_name{ width:69px; float:left; font-weight: bold; color:#2f2e2e; padding-top:12px;}
.list_wz_all{ float:left; width: 28px; margin-right:50px;  padding-top:12px; cursor: pointer;}
.list_wz_all.list_wz_boxonow{color:#c0191f;}
.list_wz_list{ float:left; width:1036px;overflow:hidden; padding: 3px 0 4px 0; position: relative;}
.list_wz_area{ float:left; width:1036px;padding: 3px 0 4px 0; position: relative;}
.list_wz_list label{ float:left; width:110px; margin:8px 33px 8px 0;  background-color:#fff; display:block; cursor: pointer;}
.list_wz_list label.redon{color:#c0191f;}
.list_area_list{ width: 1183px;}
.list_area_list label{ width: 140px; padding-right:20px;color: #535353;font-size: 14px;margin: 8px 0 10px 0; overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;}
.list_wz_area li{ float:left; width:auto;  margin:8px 38px 8px 0;  background-color:#fff; display:block; cursor: pointer; position: relative;}
.list_wz_area li b{width: 10px; height:6px; margin:-1px 0 0 6px;vertical-align: middle; position: relative; overflow: hidden; display: inline-block;}
.list_wz_area li b i{ background-position:-28px 0; width: 400px; height: 322px;vertical-align: middle; position: relative\9;left:-28px\9;
top: 0px\9; }
.list_wz_area li b i.sqion{background-position:-40px 0; position: relative\9;left:-40px\9;
top: 0px\9;}
.list_wz_area li span.sqon{color:#c0191f;}
.list_wz_area li code{border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 9px solid #fff;top:30px;height: 0;left: 50%;margin-left: -15px;position: absolute;width: 0; display: none;}
.list_wap{float:left;font-size: 16px;color: #492300;letter-spacing: 0;margin-top:26px;margin-left:10px;}
.list_wap.active{text-decoration:underline}
  


.filter_box {
    height: 39px;
    background-color: #fff;
    box-shadow: -1px 2px 2px 0 #ddd; 
    padding-left:10px;
    position:relative;
    z-index:889;
    margin-right:313px;
}

.list_cx_button a{}
.item_li{display:inline-block;width:110px;position:relative;height:39px}
.item_li .item_a{display:block;padding-top:13px;height:29px;text-align: center;}
.item_li .item_a .location{font-size: 14px;color: #90704D;letter-spacing: 0;width:70px;}
.item_li .item_a .icon_i{
	font-size:12px;position:absolute;right:22px;top:15px;color:#90704D;
}
.map_bd{  
  background-color: #fff;
 	background:#d4d4d4;
 	position:relative;
}
.inquire{width:100%;height:100%;position:absolute;left:0;top:0;background:#000000;z-index:9999;opacity: 0.8;-moz-opacity: 0.8;filter:alpha(opacity=80);}
.inquire img{position:absolute;left:50%;top:50%;margin-left:-125px;margin-top:-40px;}
.map_side {
  width: 295px;
  position: fixed;
  top: 80px;
  right: 0;
  border-left: 1px solid #e5e5e5;
  background-color: #fff;
  padding:0px 5px 0 10px;
  z-index:888;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.50);
}
.map_side.active{right:-310px}
.side_filter_box{}
.side_filter_box li{float:left;position:relative}
.side_filter_box li a{padding:11px 20px;height:20px;border-bottom:2px solid #CCCCCC;display:block;font-size: 14px;color: #535353;line-height:20px}
.side_filter_box li a.active{border-bottom:2px solid #C0191F}

.side_list{overflow-y: auto;position:relative;margin-right:5px;}
.side_list_box{color:#535353;font-size:14px;}
.load_img{text-align: center;margin-top:10px;display:none;}
.xiaoru_image{text-align: center;position:absolute;top:50%;left:50%;margin-top:-31px;margin-left:-79px;}
.xiaoru_image img { margin-bottom:9px;}
.side_list dl{padding:11px 0;border-bottom:1px dashed #cccccc;cursor:pointer}
.side_list dl.active{background: #F9F8F6;}
.side_list dl.select{background: #F9F8F6;}
.side_list_box dt{width:45px;position:relative}
.side_list_box dt span{position:absolute;left:11px;top:8px;font-size: 14px;color: #90704D;}
.side_list_box dt div{width:30px;height:40px;overflow:hidden;line-height: 40px;text-align: center;}
.side_list_box dt div i{background-position:-120px -171px;left:-120px\9;top:-171px\9;position:relative\9}
.side_list_box dt div i.active{background-position:-87px -171px;left:-87px\9;top:-171px\9}
.side_list_box dt div i.select{background-position:-87px -171px;left:-87px\9;top:-171px\9}
.side_list_box dd{width:228px}
.side_list_head{font-size: 14px;margin-bottom:5px;}
.side_list_head a{color: #4D4D4D;    color: #4D4D4D; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;display: block;}
.side_list_head a.active{text-decoration:underline}
.side_list_score .icon_s{height:15px;position:relative;display: inline-block;}
.side_list_score .icon_s div{width:84px;height:15px;overflow: hidden;}
.side_list_score .icon_s div.ic1 i{background-position:-279px -25px;left:-279px\9;top:-25px\9;position:relative\9}
.side_list_score .icon_s div.ic2{position:absolute;left:0;top:0}
.side_list_score .icon_s div.ic2 i{background-position:-189px -25px;left:-189px\9;top:-25px\9;position:relative\9}
.side_list_score span{margin-left:5px;font-size: 16px;color: #90704D;}
.side_list_price span{font-size: 12px;color: #90704D;margin-top:10px}
.side_list_price strong{font-size: 14px;color: #C0191F;}
.side_list_price strong b{height:20px;display:inline-block;padding-top:4px;font-size:20px}
.btn_side_close{cursor:pointer;  height: 120px;line-height:120px;width: 20px;text-align:center;position: absolute; top: 50%;margin-top: -60px;left: -18px;background-image: url(pull_up.png)/*tpa=http://www.bthhotels.com/Content/image/web/pull_up.png*/;background-repeat: no-repeat;}
.btn_side_close span{color: #7D7D7D;}
.page{position:absolute;bottom:0;padding:18px 0;background:#ffffff;margin: 0 auto!important;}
.pagination{text-align:left}
.page a {width:35px;height:35px;line-height:35px}
.page a:hover{background-color:#90704d;color:#fff;}

.drag_box{  position: absolute;top: 18px;right:330px;z-index:10}
.drag_box.active{right:10px}
.drag_box a {
	background:#ffffff;
  display: block;
  border: 1px solid #ABABAA;
  width: 114px;
  height: 22px;
  color: #333;
  padding: 8px 0 0 8px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.50);
	border-radius: 5px;
}
.drag_box a div{
	width:12px;height:12px;overflow: hidden;display:inline-block;margin-bottom:-1px;margin-right:3px;
}
.drag_box a.select{box-shadow:0 0 3px 0 rgba(0,0,0,0.5);background: #FFF5F5;border: 1px solid #C0191F;}
.drag_box a div i{background-position:0px 0px;left:0\9;top:0\9;position:relative\9;}
.drag_box a div.active{border:0px solid #d4d4d4;width:12px;height:12px;}
.drag_box a div.select{border:0px solid #d4d4d4;width:12px;height:12px;}
.drag_box a div i.active{  background-position: -14px 0px;left:-14px\9;top:0\9}
.drag_box a div i.select{  background-position: -14px 0px;left:-14px\9;top:0\9}
.drag_box_select{width:30px;height:22px;z-index:10;cursor:pointer;  border: 1px solid #ABABAA;padding-top:8px;text-align:center;background: #FFFFFF;box-shadow: 0 0 3px 0 rgba(0,0,0,0.50);border-radius: 5px;position:absolute;right:470px;top:18px;}
.drag_box_select span{font-size:20px;color: #979797;}
.drag_box_select.active{right:150px;}
.drag_box_select.select{background: #FFF5F5;border: 1px solid #C0191F;
border-radius: 5px;}

.list_icon{width:80px\9 !important;}
.list_icon.active{z-index:66}
.list_icon.select{z-index:66}
.list_icon .item{height:42px;cursor:pointer;left:50px;top:50px}
.list_icon .pc_icon{width:30px;height:42px;overflow: hidden;}
.list_icon .pc_icon.active{width:84px;}
.list_icon .pc_icon.select{width:84px;}
.list_icon .pc_icon i{background-position:-120px -170px;left:-120px\9;top:-170px\9;position:relative\9; }
.list_icon .pc_icon i.active{display:block;background-position:0px -170px;left:0px\9;top:-170px\9;}
.list_icon .pc_icon i.select{display:block;background-position:0px -170px;left:0px\9;top:-170px\9;}
.list_icon .item span{position:absolute;left:11px;top: 44px;color: #90704D;font-size:14px;}
.list_icon .item span.active{color:#C0191F}
.list_icon .item span.select{color:#C0191F}
.list_icon .item strong{position:absolute;left:31px;top:45px;color:#ffffff;display:none;}
.list_icon .item strong.active{display:block}
.list_icon .item strong.select{display:block}
.list_icon .item strong p{display:inline-block;font-size:17px;}
.list_icon .item strong p .infi_price{width:30px;color:#fff;letter-spacing:2px;}
/*.hotel_pop{display:none}*/
.hotel_pop_inner{width:460px;padding:15px 15px 20px 15px;background:#ffffff;
box-shadow: 0 3px 3px 0 rgba(0,0,0,0.28);border-radius: 5px;}
.hotel_pop_inner code {
   border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  box-shadow: 0 -2px 3px 0 rgba(255,255,255,0.28);
  bottom: -7px;
  height: 0;
  left: 50%;
  margin-left: -6px;
  position: absolute;
  width: 0;
  z-index: 9999;

}
.hotel_pop_inner dl dd{width:190px;height:170px;margin-right:15px;float:left}
.hotel_pop_inner dl dd img{width:100%;height:100%}
.hotel_pop_inner dl dt{float:left;padding-top:10px;width:255px}
.hotel_pop_inner dl dt .head{font-size: 18px;color: #4D4D4D;margin-bottom:9px;height:24px;width:255px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.hotel_pop_inner dl dt .title_in{font-size: 12px;color: #4A4A4A;letter-spacing: 0;width:243px;margin-bottom:19px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.hotel_pop_inner dl .close{position:absolute;right:6px;top:8px;color:#C7C7C7;font-size:18px;cursor: pointer;}
.synthesiz_score{padding-left:6px;margin-top:5px;margin-bottom:38px}
.synthesiz_score .li{float:left}
.synthesiz_score .li1{line-height:16px;}
.synthesiz_score .li1 span{font-size: 14px;color: #90704D;}
.synthesiz_score .li1 .list_icon{width:84px;position:relative;height:16px;margin-right:10px}
.synthesiz_score .li1 .list_icon div{width:84px;height:16px;overflow: hidden;}
.synthesiz_score .li1 .list_icon i{position:relative\9;background-position:-279px -24px;left:-279px\9;top:-24px\9;}
.synthesiz_score .li1 .list_icon .icon_2{position:absolute;top:0;left:0;width:100%;height:16px}
.synthesiz_score .li1 .list_icon .icon_2 i{position:relative;background-position:-189px -24px;left:-189px\9;top:-24px\9;}
.synthesiz_score .li2{font-size: 12px;margin-left:18px;color: #90704D;cursor:pointer;margin-top:2px;}


.hotel_pop_inner .money{margin-top:10px;width:100%}
.hotel_pop_inner .money span{font-size: 14px;color: #C0191F;margin-top:10px;display:inline-block;height:20px;padding-top:2px} 

.hotel_pop_inner .money span b{font-size: 20px;color: #C0191F;margin-top:8px}
.hotel_pop_inner .money a{width:100px;height:40px;font-size:16px;line-height:40px;border-radius:5px;text-align: center;color:#ffffff;background:#C0191F;}
.hotel_pop_inner .money a.active{background: #CD474C;}


.filter_list .facility .item_list{width:131px}
.filter_list .brand .item_list{width:576px;}
.filter_list .price .item_list{width:147px;}
.filter_list .feature .item_list{width:140px}
.item_list{position:absolute;background:#ffffff;left:28px;top:47px;z-index:6666;padding:10px 0px 15px 0px;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
border-radius: 5px;display:none;z-index:10000;}
.item_list.active{display:block}
.item_list code.list_money_jt {position: absolute;left: 18px;top: -8px;overflow: hidden;width: 20px;height: 10px;display: inline-block;
}
.item_list code.list_money_jt i {background-position: -294px 0;width: 400px;height: 322px;vertical-align: middle;position: relative\9;left: -294px\9;top: 0px\9;
}
.item_list .item_default{background:#90704D;margin-left:20px;border-radius: 5px;width:42px;height:24px;line-height:24px;text-align: center;color:#ffffff}
.item_list .item_default.active{background:#ffffff;}
.item_list .item_default.select{background:#90704D;}
.item_list .item_default span{cursor:pointer;color:#ffffff}
.item_list .item_default span.active{color:#535353}
.item_list .item_default span.select{color:#ffffff}
.position_tab_box{width:731px;border-bottom:1px solid #D4D4D4;padding-left:115px;padding-right:68px;height:40px;line-height:40px;margin:0 20px}
.position_tab_box a{width:114px;height:40px;float:left;font-size: 14px;color: #90704D;}
.position_tab_box a.active{color: #C0191F;font-weight: bold;}

.location_s .item_list .area_list_box .area_list {height:210px;}
.area_list_box{display:none}
.area_list{margin-top:10px;padding-left:20px;overflow-y: auto;}
.area_list_box.active{display:block}
.letters_block{float:left;margin-right:10px}
.item_icon{overflow: hidden;zoom: 1;}
.item_icon ul{padding-left:20px;overflow: hidden;}
.letters_block li{float:left;margin-right:9px}
.letters_block li,.item_icon li{height:30px;cursor:pointer;width:142px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.letters_block li .multiselect,.item_icon .multiselect{float:left;margin-top:10px;margin-right:7px;width:12px;height:12px;display:inline-block;overflow: hidden;}


.letters_block li .multiselect i,.item_icon .multiselect i{background-position:0 0;left:0\9;top:0\9;position:relative\9}
.letters_block li .multiselect i.active{background-position:-14px 0;left:-14px\9;top:0\9;}
.letters_block li .multiselect i.select{background-position:-14px 0;left:-14px\9;top:0\9;}
.item_icon .multiselect i.active{background-position:-14px 0;left:-14px\9;top:0\9;}
.item_icon .multiselect i.select{background-position:-14px 0;left:-14px\9;top:0\9;}
.letters_block li strong,.item_icon strong{float:left;line-height:30px;font-size: 14px;color:#535353;width:123px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.item_icon strong{width:88px;}
.area_list ul.last{margin-right:0px;}
.item_list_btn{text-align: center;margin-top:9px;}
.item_list_btn input{border:none;border-radius:5px; outline:none;cursor:pointer;background: #C0191F;color:#ffffff;width:90px;height:28px;border-color:#C0191F}
.item_list_btn input.active{background: #CD474C;}
.brand .item_list ul.letters_block{margin-right:0px;float:left;}
.brand .item_list ul.letters_block li{width:125px;}
.brand .item_list ul.letters_block li strong{width: 100px;}

.feature li{width:107px;}
.feature li strong{width:86px;}
.area_list_items{padding:0 20px}
.area_list_items a{cursor: pointer;margin-right:20px;font-size:14px;margin-top:10px;width:100px;padding-left:10px;height:26px;line-height:26px;background:#ffffff;color:#535353;float:left;border-radius:5px;
-webkit-border-radius:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.area_list_items a.active{background:#C0191F;color:#ffffff}
.area_list_items a.select{background:#C0191F;color:#ffffff}

.search_header .citypop{top:74px;z-index:9999}
/*搜索样式调整*/
.keyword_pop .keyword_metro_list li{width:133px;}
.keyword_pop li{
    border-radius:5px;
    -webkit-border-radius:5px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	   .item_li .item_a .icon_i i{
	   	position: static !important;
	   }
	   .multiselect i{
	   	position: static !important;
	   }
	   .side_list_box dt div i{
	   	position: static !important;
	   }
	   .side_list_score .icon_s div.ic1 i{
	   	position: static !important;
	   }
	   .side_list_score .icon_s div.ic2 i{
	   	position: static !important;
	   }
	   .page a.pageon.page_left span i{
	   	position: static !important;
	   }
	   .drag_box a div i{
	   	position: static !important;
	   }
	   .list_icon .pc_icon i{
	   	position: static !important;
	   }
	   .synthesiz_score .li1 .list_icon i{
	   	position: static !important;
	   }
	   .synthesiz_score .li1 .list_icon .icon_2 i{
	   	position: static !important;
	   }
	   
	}
.date_box{z-index:999!important;}
.zb_pop_se li a:hover{color:#fff;background-color:#C0191F;border-radius:5px;}
@media (min-width:1000px) and (max-width:1199px) {
    .list_input {
        float: left;
        margin-right: 8px;
    }
    .list_input input {
        background: #fff;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 32px;
        height: 20px;
        padding: 11px 6px;
        text-align: center;
        outline: none;
        color: #535353;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
    }
    .list_choose {
        float: left;
        width: 313px;
        height: 42px;
        background: #fff;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        margin: 0 9px 0 0;
        padding-left: 14px;
        color: #979797;
    }
    
    .list_choose input.date_input {
        width: 76px;
        border: none;
        background: none;
        outline: none;
        height: 20px;
        line-height: 20px;
        padding: 11px 0;
        color: #535353;
    }
    .list_choose input.date_input_txt {
        width: 32px;
        border: none;
        background: none;
        outline: none;
        height: 20px;
        line-height: 20px;
        padding: 11px 0;
        color: #979797;
    }
    .list_choose code {
        float: left;
        width: 14px;
        height: 1px;
        margin: 21px 10px 0 10px;
        background: url(time_line.png)/*tpa=http://www.bthhotels.com/Content/image/web/time_line.png*/ left center no-repeat;
    }
    .list_search {
        float: left;
        width: 190px;
    }
    .list_search input {
        background: #fff;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 180px;
        height: 20px;
        line-height: 20px;
        padding: 11px 8px;
        outline: none;
        font-size: 14px;
        color: #979797;
    }
    .list_cx_button {
        float: left;
        margin-left: 15px;
    }
    .top_logo {
        float: left;
        height: 38px;
        overflow: hidden;
        margin: 17px 10px 9px 20px;
    }
    .list_cx_button input {
        background: #c0191f;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        width: 50px;
        height: 42px;
        border: none;
        outline: medium none;
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 42px;
        cursor: pointer;
    }


    .amap-overlays{
        z-index:0;
    }



     .zb_pop{
        display: block;
        width: 800px;
    }

    .date_box {
        top: 74px;
        margin-left: 336px;
        left:-100px;
        z-index: 1000;
    }

    .keyword_pop {
        left: 0;
        margin-left: 100px;
        top: 72px;
        z-index: 900;
        width: 800px;
        display: block;
    }

    /*搜索样式调整*/
}
